<% include ./partials/header %>

<div class="crop-container">
    <img class="showcase" src="./img/3old.jpg" alt="cars">
</div>

<div class="container1">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="row left">
        <% posts.forEach(function(post){ %>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card-decks" style="margin: 0 0 10px 5%;">
              <div id="post-card" class="card">
                <a href="/IndexPage/<%=post._id%>"><img class="card-img-top" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="Card image cap"></a>
                <!-- <img class="card-img-top" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <a href="/IndexPage/<%=post._id%>"><h5 class="card-title"><%= post.title %> - <%= post.subject%></h5></a>
                  <hr class="style18 hr1">
                  <p class="card-text content"><%= post.content%></p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="card" style="width: 80%; margin: 0 10% 0 10%;">
          <img class="card-img-top rounded-circle" src="./img/profile.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Le Thi Yen Nhi</h5>
            <p class="card-text">Passion for traveling wont stop anywhere!</p>
          </div>
          <div id="socilaArea" class="card-body">
            <a href="#"><i id="socialIcons" class="fa fa-2x fa-youtube" aria-hidden="true"></i></a>
            <a href="#"><i id="socialIcons" class="fa fa-2x fa-snapchat-square" aria-hidden="true"></i></a>
            <a href="#"><i id="socialIcons" class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i id="socialIcons" class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i id="socialIcons" class="fa fa-2x fa-instagram" aria-hidden="true"></i></i></a>
            <% if(user){ %>
              <a href="/NewPost" id="socialIcons" class="btn btn-outline-secondary newpost">Add New Post</a>
            <%}%>
            </div>
          </div>
          <div class="card" style="width: 80%; margin: 20px 10% 0 10%;">
            <div class="card-body">
              <p class="card-text">
                <form action="/subcribe" method="post">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="subcriber[email]" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="subcriber[name]" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="subcriber[country]" placeholder="Country">
                  </div>
                  <button class="btn btn-outline-secondary" type="submit">Get exclusive content</button>
                </form>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>



<% include ./partials/footer %>
