  <% include ./partials/header %>
<head>
  <link rel="stylesheet" href="../css/ShowPage.css">
</head>

<img class="postImage" src="https://images.unsplash.com/photo-1466979668278-ae3991367e7a?ixlib=rb-0.3.5&s=89dbdd8876de56cc8d1ff21f13d2c767&auto=format&fit=crop&w=1500&q=80" alt="postImage">


<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="row left">
        <div class="container">
          <div class="postContainer">
            <div class="postTitle">
              <h4><%= foundPost.title %> - <%= foundPost.subject%></h4>
              <p>Monday Dec 24, 2017</p>
            </div>
            <div class="postAuthor">
              <p><span><img class="profile rounded-circle" src="../img/profile.jpg" alt="profileIcon"></span> <span><em><%= foundPost.author.username %></em></span></p>
            </div>
            <div class="postContent">
              <p><%= foundPost.content%></p>
            </div>
            <div class="container">
              <% if (currentUser && foundPost.author.id.equals(currentUser._id)) { %>
                <a href="/IndexPage/<%= foundPost._id%>/edit" class="btn btn-outline-secondary" id="button">Edit</a>
                <form action="/IndexPage/<%= foundPost._id%>?_method=delete" method="post" style="display: inline-block;" onsubmit="return confirm('Are you sure to delete this post?');">
                  <input class="btn btn-outline-secondary" id="button" type="submit" value="Delete">
                </form>
                <%}%>
                <a href="/IndexPage/<%= foundPost._id%>/comments/addNewComment" class="btn btn-outline-secondary" id="button">Comment</a>
              </div>

              <br>
              <br>
              <div class="container commentContainer">
                <% foundPost.comments.forEach(function(comment){ %>
                  <br>
                  <div>
                    <p>
                      <em><strong><%= comment.author.name %></strong></em>: <%= comment.content %>
                    </p>
                    <!-- <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                      <div class="container">
                        <a href="/IndexPage/<%= foundPost._id%>/comments/<%= comment._id%>/edit" class="btn btn-outline-secondary">Edit</a>
                        <form action="/IndexPage/<%= foundPost._id%>/comments/<%= comment._id%>?_method=delete" method="post" style= "display: inline-block;">
                          <input class="btn btn-outline-secondary" id="button" type="submit" value="Delete">
                        </form>
                      </div>
                      <% } %> -->
                    </div>
                    <br>
                    <%});%>
                  </div>

                  <div class="card" style="width: 80%; margin: 20px 10% 0 10%;">
                    <div class="card-body">
                      <p class="card-text">
                        <form action="/IndexPage/<%= foundPost._id %>/comments" method="POST">
                          <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label for="content">Your Comment</label>
                            <input type="text" class="form-control" id="country" name="comment[content]" placeholder="Let us know what you think!">
                          </div>
                          <button class="btn btn-outline-secondary" type="submit">Send</button>
                        </form>
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 col-lg-4">
            <div class="card" style="width: 80%; margin: 0 10% 0 10%;">
              <h3 class="centered">About Me</h3>
              <img class="card-img-top" src="../img/profile.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Le Thi Yen Nhi</h5>
                <p class="card-text">Passion for traveling wont stop anywhere!</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Travel many</li>
                <li class="list-group-item">Live fun</li>
                <li class="list-group-item">Love more</li>
              </ul>
              <div id="socilaArea" class="card-body">
                <a href="#"><i id="socialIcons" class="fa fa-2x fa-youtube" aria-hidden="true"></i></a>
                <a href="#"><i id="socialIcons" class="fa fa-2x fa-snapchat-square" aria-hidden="true"></i></a>
                <a href="#"><i id="socialIcons" class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i id="socialIcons" class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i id="socialIcons" class="fa fa-2x fa-instagram" aria-hidden="true"></i></i></a>
                <% if(user){ %>
                  <a href="/NewPost" id="socialIcons" class="btn btn-outline-secondary newpost">Add New Post</a>
                <%}%>
                </div>
              </div>
              <div class="card" style="width: 80%; margin: 20px 10% 0 10%;">
                <div class="card-body">
                  <p class="card-text">
                    <form>
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="password" class="form-control" id="name" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="country">Country</label>
                        <input type="password" class="form-control" id="country" placeholder="Password">
                      </div>
                      <button class="btn btn-outline-secondary" type="submit">Get exclusive content</button>
                    </form>
                  </p>
                </div>
              </div>
            </div>
          </div>
</div>


<% include ./partials/footer %>
